@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
@import '../../components/button';

.login_bar{
  width: 50%;
  margin: 5rem auto;
  .login_form{
    display: flex;
    flex-direction: column;
    .login_field{
      display: flex;
      flex-direction: column;
    &:first-of-type{
      //margin-bottom: 42px;
    }
      .form_label{
          margin-bottom: 5px;

        font-family: Rajdhani, sans-serif;
        //font-weight: 600;
        text-transform: uppercase;
        color: black;
        line-height: 1.1rem;
        letter-spacing: 3px;
        font-size: 1rem;
      }
      .form_input{
        border:none;
        border-bottom: 1px solid #a5a5a5;
        background-color: transparent;
        line-height: 2rem;
        &:last-of-type {
          margin-bottom: 50px;
        }
      }
  }
    button{
      @include ButtonStyle();
    }
  }
}
.login_field.form_input:focus{
    border:2px solid red;
    background-color: white;
}