$base-color: #818181;
$hover-color: black;
@mixin ToggleMenu {
  text-decoration: none;
  color: $base-color;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Rajdhani, sans-serif;
}

@media(max-width: 800px) {
  .primary-nav {
    position: fixed;
    margin-right: 1rem;
    inset: 0 0 0 50%;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    align-items: flex-start;
    padding: min(30vh, 9rem) .5rem;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 500ms cubic-bezier(0.25, 0.5, 0.68, 1.23);
    @supports (backdrop-filter: blur(1rem)) {
      background: hsl(0 0% 100% / 0.3);
      backdrop-filter: blur(1rem);
    }

    &.visible {
      transform: translateX(20%);
    }

  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 999;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
    background: url("../images/home/icons8-menu.svg");
    background-size: cover;
    border: 0;

    &.visible {
      background: url("../images/home/icons7-close.svg");
      background-size: cover;
    }
  }
  .cart-nav {
    position: fixed;
    inset: 0 50% 0 0;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    align-items: center;
    padding: min(30vh, 9rem) .5rem;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 500ms cubic-bezier(0.25, 0.5, 0.68, 1.23);
    @supports (backdrop-filter: blur(1rem)) {
      background: hsl(0 0% 100% / 0.3);
      backdrop-filter: blur(1rem);
    }

    &.visible {
      transform: translateX(-10%);
    }

    a {
      //padding: 10rem 2rem;
    }
  }
  .cart-toggle {
    display: block;
    position: absolute;
    z-index: 999;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    left: 1rem;
    background: url("../images/home/icons8-shopping-cart-96.png");
    background-size: cover;
    border: 0;

    &:hover {
      color: $base-color;
    }

    &.visible {
      background: url("../images/home/icons7-close.svg");
      background-size: cover;
    }
  }

}

.primary-nav, .cart-nav {
  margin-right: 1rem;
  list-style: none;

  a {
    @include ToggleMenu();
    margin: 0 .75rem;

    &:hover {
      color: $hover-color;
    }
  }

  a.active {
    color: $hover-color;
  }
}

div.cart {
  nav {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;

    span {
      background: url("../images/home/icons8-shopping-cart-96.png");
      width: 1.5rem;
      aspect-ratio: 1;
      background-size: cover;
      align-items: center;
      align-content: center;
      align-self: center;
    }
  }
}

@media(min-width: 700px) {
  .cart-products {
    display: none;
  }
}

.cart-products {
  .cart-container {
    list-style-type: none;

    h3 {
      text-decoration: none;
      font-weight: 400;

      a {
        color: #5b5b5b;
        text-transform: capitalize;
      }
    }
  }
}
