@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
@import './components/button';
* {
  margin: 0;
  padding: 0;
}

  @mixin LogoStyle {
    background: -webkit-linear-gradient(rgb(255, 153, 0), rgba(128, 69, 0, 0.86));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-family: "PT Serif", serif;
    font-weight: bold;
    letter-spacing: .2rem;
    //font-style: italic;
  }
.App {
  //text-align: center;
  height:100vh;
    .header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width:1280px;

    p {
      align-items: center;
      align-content: center;
      align-self: center;
      padding: .7rem;
      @include LogoStyle();
    }
    .header-bar {
      display: flex;
      justify-content: space-between;
      margin: 0 10px 20px 10px;
      align-items: center;
    }
    .login_bar {
      display: flex;
      justify-content: space-between;
      border: 2px solid orange;
      align-items: center;
      margin: 1rem auto;
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          margin: 0 5px;
          font-size: 1.1rem;
          &:active {
            border-color: grey;
          }
        }
        button {

          font-size: 1.2rem;
          padding: 3px 10px;
          border: none;
          background-color: white;
          color: grey;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  .footer_container{
    @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }
    background-color: grey;
    margin:0 auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    .footer_block{
      align-items: center;
      width: auto;
      .social_links{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        div{
          a{
            display: block;
            img{
                display: block;
                width: 3rem;
                margin: 1rem .5rem .5rem;
            }
          }
        }
      }
      .paragraphs{
        display: flex;
        p{
          margin-right:1rem;
          margin-top: 1rem ;
        }
      }
    }
    .paragraphs_block{
      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: .5rem;
        align-items: center;
      }
    }
  }
  div.copyright_block {
    display: flex;
    height: 2rem;
    background-color: #3b3b3b;
    .copyright {
      color:grey;
      margin: 0 auto;
      line-height: 2rem;
    }
  }
}

